body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 39);

}

.title {
    text-align: center;
    font-size: 50px;
    margin: 20px;
    color:white;
}

.screen {
    background: rgb(255, 255, 255);
    width:460px;
    height:120px;
    margin-bottom: 30px;
    border: 10px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px
}

.screen .text {
    display: flex;
    max-width: 500px;
    max-height: 60px;
    font-size: 70px;
    text-align: right;
    margin: auto 0px 20px auto
}

.screen .inputHistory {
    display:flex;
    font-size: 30px;
    margin: 5px 0px auto auto;
    color: grey;
}

.base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:500px;
    background:rgb(89, 89, 160);
    padding: 40px;
    border-radius: 25px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 115px;
    height: 80px;
    font-size: 50px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(199, 199, 199);
    border: 3px solid rgb(0, 0, 0);
}

button:hover {
    background-color: grey;
}

button[value="0"] {
    width: 240px;
}
